<!doctype html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Welcome to your dashboard!</h1>
  <form action="{{ url_for('add_medical_record') }}" method="POST" enctype="multipart/form-data">
    <label for="pdfFile">PDF file:</label>
    <input type="file" id="pdfFile" name="pdfFile"><br><br>
    <input type="submit" value="Submit">
  </form>
  <form method="post" action="{{ url_for('get_patient_details') }}">
    <h2>Get Patient Details</h2>
    <input type="submit" value="Get Patient Details">
  </form>
  <form action="{{ url_for('logout') }}" method="post">
    <button type="submit">Logout</button>
  </form>
</body>

</html>